* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trirong", sans-serif;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-div input {
  font: 1.5rem;
  width: 30%;
  padding: 10px;
  border: none;
  outline: none;
}

.search-div button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.search-div button:hover {
  background-color: #45a049;
}

.weather-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.weather-general {
  text-align: center;
}

.weather-like {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.location {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.temperature {
  font-size: 5em;
  position: relative;
}

.temperature::after {
  content: " °C";
  font-size: 0.5em;
  position: absolute;
  top: 0;
  right: -1.5em;
}

.detail-info {
  font-size: 0.9em;
  text-align: center;
}

.feels-like {
  margin: 5px 0;
}

.humidity::after {
  content: "%";
}

.wind-speed::after {
  content: " m/s";
}

.pressure::after {
  content: " hPa";
}

.feels-like::after,
.temperature::after {
  content: " °C";
}
